In [6]:
import pandas as pd

In [7]:
my_data = pd.read_csv('pixel_pos_group_pix_2.csv', index_col=None,header=None)  
my_data

,0,1,2,3,4,5,6,7,8,9,...,23609,23610,23611,23612,23613,23614,23615,23616,23617,23618
0,24.000000,25.000000,25.000000,25.000000,25.000000,25.000000,26.000000,27.000000,27.000000,27.000000,...,618.000000,618.000000,618.000000,618.000000,619.000000,619.000000,619.000000,619.000000,619.000000,619.000000
1,8.000000,15.000000,9.000000,9.000000,8.000000,8.000000,11.000000,17.000000,16.000000,11.000000,...,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000
2,0.690405,0.726397,0.730189,0.727041,0.690405,0.689000,0.422882,0.524862,0.522104,0.422882,...,0.215784,0.216128,0.216127,0.216818,0.215092,0.215784,0.216128,0.216127,0.216818,0.216818
3,0.058891,0.066540,0.059954,0.059085,0.058891,0.057503,0.055279,0.300045,0.305774,0.055279,...,0.030851,0.029989,0.029644,0.029472,0.030161,0.030851,0.029989,0.029644,0.029472,0.029817
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [17]:
my_data_T = my_data.T 
cols = {0:'a',1:'b',2:'c',3:'d',4:'e'} 
my_data_Tc = my_data_T.rename(columns=cols)
my_data_Ts = my_data_Tc.sort_values(by=['a', 'b'], ascending =True) 
#my_data_Ts = my_data_Ts.drop_duplicates(subset=['a', 'b'], keep='last')
my_data_Ts = my_data_Ts.T 
my_data_Ts.drop(['e'])

,0,4,5,2,3,1,6,9,10,8,...,23609,23610,23611,23612,23613,23614,23615,23616,23617,23618
a,24.000000,25.000000,25.000000,25.000000,25.000000,25.000000,26.000000,27.000000,27.000000,27.000000,...,618.000000,618.000000,618.000000,618.000000,619.000000,619.000000,619.000000,619.000000,619.000000,619.000000
b,8.000000,8.000000,8.000000,9.000000,9.000000,15.000000,11.000000,11.000000,11.000000,16.000000,...,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000,527.000000
c,0.690405,0.690405,0.689000,0.730189,0.727041,0.726397,0.422882,0.422882,0.421842,0.522104,...,0.215784,0.216128,0.216127,0.216818,0.215092,0.215784,0.216128,0.216127,0.216818,0.216818
d,0.058891,0.058891,0.057503,0.059954,0.059085,0.066540,0.055279,0.055279,0.055451,0.305774,...,0.030851,0.029989,0.029644,0.029472,0.030161,0.030851,0.029989,0.029644,0.029472,0.029817
e,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [18]:
my_data_Ts .to_csv('pixel_pos_group_pix.csv', index=None, columns=None, header=None)

In [19]:
peds =sorted(list(set(list(my_data_Ts.iloc[1,:]))))

In [26]:
my_data_Ts.drop([4,])

KeyError: '[4] not found in axis'

In [23]:
import numpy as np 
groups = (2.5*np.random.sample((my_data_Ts.shape[1]))).astype(int)

In [24]:
groupss = pd.Series(groups)

array([1, 1, 1, ..., 0, 0, 1])

In [ ]:
my_data_Ts.append(groupss, ignore_index=True)